body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #3498db, #2ecc71);
    color: #333; /* Text color */
}

h1 {
    font-size: 48px;
    color: #fff; /* Changed text color to white */
    margin-bottom: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px; /* Added margin to separate the game board from the heading */
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
}

.cell:hover {
    background-color: #e6e6e6;
}

.message {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #333;
}

.new-game-button {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.new-game-button:hover {
    background-color: #218e54;
}
